{% load i18n staticfiles clever_selects_extras future %}

<!DOCTYPE html>
<html>
<head>
    <title>Django Clever Selects by Pragmatic Mates</title>
    <script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <style type="text/css">
        .message { color: green; line-height: 3; }
        .errorlist { color: red; }
    </style>
</head>
<body>

<h1>Django Clever Selects</h1>

<a href="{% url 'home' %}">{% trans 'Home' %}</a><br><br>

<h2>{{ title }}:</h2>
<span class="message">{{ message|default:'' }}</span>

<form action="{{ request.get_full_path }}" method="post">
{% csrf_token %}
{{ form }}
<input type="submit" />
</form>


{% block extra_content %}{% endblock %}

{% clever_selects_js_import %}

</body>
</html>